<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kjsieit.noticeboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.kjsieit.noticeboard.noticeTypes.AddResources" />
        <activity
            android:name="com.kjsieit.noticeboard.NoticeFiles"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.AboutDepartment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.EventDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.NoticeSeen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kjsieit.noticeboard.NoticeEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.AdminValidation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.SingleFileUpload"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.web_view"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.ui.profile.ProfileEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.NoticeDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.noticeTypes.NoticeSeminar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.noticeTypes.NoticeExamCell"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.noticeTypes.NoticeStudent"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.noticeTypes.NoticeDepartment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.StudentSignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.LoginStudent"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.DashboardStudent"
            android:label="Student"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- android:configChanges="orientation|screenSize"/> -->
        <activity
            android:name="com.kjsieit.noticeboard.Dashboard"
            android:label="Staff"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- android:configChanges="orientation|screenSize" /> &lt;!&ndash; this line helps ACTIVITY to retain its state on screen orientation change &ndash;&gt; -->
        <activity
            android:name="com.kjsieit.noticeboard.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.AdminSignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.LoginAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kjsieit.noticeboard.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>